<form (ngSubmit)="searchFilter()" #searchForm="ngForm">
    <input placeholder="Search for list" name="searchInput" type="text" [(ngModel)]="searchInput">
    <input type="submit" value="Search">
</form>
<div *ngFor="let taskList of filteredTaskLists; let i = index">
    <h1>{{ taskList.title }}</h1>
    <p>{{ taskList.description }}</p>
    <ul>
        <li *ngFor="let task of taskList.tasks.slice()">
            <label>
                <input type="checkbox" [(ngModel)]="task.completed" />
                <span [ngClass]="{'completed-task': task.completed}">{{ task.description }}</span>
                <span class="due-date" *ngIf="task.dueDate">Due: {{ task.dueDate | date }}</span>
                <button [routerLink]="['/list', taskList.id, 'task', task.id]">details</button>
                <button (click)="taskListService.deleteTask(taskList.id, task.id)">remove</button>
            </label>
        </li>
    </ul>
    <form (ngSubmit)="addTask(taskList.id)" [formGroup]="taskFormGroups[i]">
        <input class="newTask" placeholder="description" type="text" required formControlName="description">
        <input class="newTask" placeholder="due date" type="date" required formControlName="dueDate">
        <label>completed</label>
        <input class="newTask" type="checkbox" formControlName="completed">
        <input type="submit" value="add task">
    </form>
    <hr>
</div>
