<div *ngFor="let taskList of taskLists">
    <h1>{{ taskList.title }}</h1>
    <p>{{ taskList.description }}</p>
    <ul>
        <li *ngFor="let task of taskList.tasks">
            <label>
                <input type="checkbox" [(ngModel)]="task.completed" />
                <span [ngClass]="{'completed-task': task.completed}">{{ task.description }}</span>
                <span class="due-date" *ngIf="task.dueDate">Due: {{ task.dueDate | date }}</span>
            </label>
        </li>
    </ul>
    <hr>
</div>